<h1>Admin::Dashboard#show</h1>


<ul class="list-group">
  <li class="list-group-item">products:
  <%= @product_count %></li>
  <li class="list-group-item">categories:
  <%= @categories_count %></li>
</ul>

