<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Jungle</h1>
    <p class="lead">We do not sell chickens!!
    </p>
    <%= link_to 'Go home', controller: 'products' %>
  </div>
</div>